<html  lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>NumberOne介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/style.min862f.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-5">
        <h2>NextOne后台管理框架</h2>
        <p>一直想做一款后台管理系统，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。</p>
        <p>
            <b>当前版本：</b><span>v1.0.0</span>
        </p>
        <p>
            <b>作者：</b><span>徐塬峰</span>
        </p>
    </div>
    <div class="col-sm-4">
        <h4>技术选型：</h4>
        <ol>
            <li>核心框架：Spring Boot。</li>
            <li>安全框架：Apache Shiro。</li>
            <li>模板引擎：Thymeleaf。</li>
            <li>持久层框架：MyBatis。</li>
            <li>定时任务:Quartz。</li>
            <li>数据库连接池：Druid。</li>
            <li>工具类：Fastjson。</li>
            <li>更多……</li>
        </ol>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
