<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"></link>
    <link href="../static/css/bootstrap.min14ed.css?v=3.3.6"
          rel="stylesheet"></link>
    <link href="../static/css/font-awesome.min93e3.css?v=4.4.0"
          rel="stylesheet"></link>
    <link href="../static/css/animate.min.css" rel="stylesheet"></link>
    <link href="../static/css/style.min862f.css?v=4.1.0"
          rel="stylesheet"></link>
</head>
<div th:fragment="footer">
    <!-- 全局js -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/highlight.pack.js"></script>
    <script src="../static/plugins/layer/layer.js"></script>
    <!--日期控件 -->
    <script src="../static/plugins/laydate/laydate.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/contabs.js"></script>
    <script src="../static/js/fakeLoader.min.js"></script>
    <!-- Bootstrap table -->
    <script src="../static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="../static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 自定义js -->
    <script src="../static/utils/utils.js"></script>
</div>
